
   {{ form_start(formFormation) }}
        <div class="row">
            <div class="row">
                <div class="col">
                    {{ form_row(formFormation.publishedAt) }}                                                  
                    {{ form_row(formFormation.title) }}
                    {{ form_row(formFormation.videoId) }}            
                    {{ form_row(formFormation.playlist) }}                
                </div>
                
                <div class="col text-center" >
                <!-- emplacement image -->
                <img src="{{ formation.Picture }}"alt="image formation">
                <p>Image correspondant à l'ID de la vidéo <br>
                   (Changer l'ID pour changer l'image)
                </p>

                
                
            </div>
                

            </div>
            <div class ="row">               
                
                {{ form_row(formFormation.description) }}
                {{ form_row(formFormation.categories) }}
            
            </div>
  
           
        </div>        
    {{ form_end(formFormation) }}
    

